.container
  .col-md-8
    %h2 Upcoming Talks
    #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
      - @upcoming_days.each do |day|
        .panel.panel-default
          #headingOne.panel-heading{"aria-controls" => "collapse#{day.id}", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse#{day.id}", :role => "tab"}
            %h4.panel-title
              %span.glyphicon.glyphicon-chevron-down{"aria-controls" => "collapse#{day.id}", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse#{day.id}"}
              %a{"aria-controls" => "collapse#{day.id}", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse#{day.id}"}
                =day.talk_date.readable_inspect
              %span.pull-right
                Slots Available:
                %span.badge=day.number_of_slots - day.lightning_talks.count

          .panel-collapse.collapse{"aria-labelledby" => "headingOne", :role => "tabpanel", :id => "collapse#{day.id}", class: "#{day == @upcoming_days.first ? 'in' : ''}"}
            .panel-body
              %table.table-striped.table
                %thead
                  %th Talk Topic
                  %th Speaker
                %tbody
                  - day.number_of_slots.times do |i|
                    -lightning_talk = day.lightning_talks[i]
                    %tr{class: "#{@classes[i]}"}
                      - if lightning_talk.present?
                        %td=lightning_talk.name
                        %td=lightning_talk.user.username
                      - else
                        %td ** Slot Available
                        %td= " "
  .col-md-4
    %h2 Previous Talks
    .list-group
      - @previous_days.each do |day|
        = link_to day.talk_date.readable_inspect, day_lightning_talks_path(day), class: "list-group-item"
